.btn {
  &__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
    width: 40rem;
    padding: $gutter-vertical-small 0;
  }

  &__next,
  &__previous {
    padding: 2rem 2rem;
    min-width: 12.8rem;
    background-color: $color-secondary;
    color: $color-white;
    text-align: center;
    text-decoration: none;
    font-size: $default-font-size;
    border-radius: 0.8rem;
    transition: all 0.4s;

    &:hover {
      background-color: $color-secondary-dark;
    }
  }
}
