body {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  color: $color-gray-dark-3;
}

.heading-primary {
  font-size: 4rem;
  color: $color-gray-dark-2;
  line-height: 1.2;
  letter-spacing: 0.2rem;
  text-transform: capitalize;
  font-weight: 500;
}

.heading-secondary {
  font-size: 4rem;
  color: $color-white;
  line-height: 1.2;
}

.heading-tertiary {
  font-size: 4rem;
  color: $color-white;
  line-height: 1.2;
}

.paragraph {
  font-size: $default-font-size;

  &:not(:last-child) {
    margin-bottom: 3rem;
  }
}
